.tableContainer {
	height: 500px;
	overflow: scroll;
	width: 900px;
}
.table {
	position: sticky;
	top: 0;
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	text-align: left;
	padding: 8px;
}

/* tr:nth-child(even){background-color: #f2f2f2} */
